@import '../../styles.scss';

.container {
    display: flex;
    flex-direction: row;

    .nav-section {
        width: 30dvw;
        height: 100dvh;
        flex-direction: column;
        background-color: $dark-cyan;
        background: linear-gradient(90deg, $dark-cyan 0%, $primary-dark 100%);
        text-align: center;
        display: flex;
        justify-content: start;
        align-items: center;
        color: $near-white;
        position: sticky;
        position: -webkit-sticky;
        top: 0;

        .name-section {
            height: 20dvh;
            padding-top: 1rem;

            .name {
                margin-top: 1rem;
                font-size: 2rem;
            }

            .title {
                font-size: 1.5rem;
            }
        }

        .nav-locations {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 30dvh;
            margin: 1rem;

            .nav-location {
                margin: 1rem;
                padding: 0.25rem;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: $light-green;
                }

                &.active {
                    font-size: 1.25rem;
                    color: $light-green;
                }
            }

        }

    }

    app-resume {
        height: 45dvh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    app-links {
        height: 5dvh;
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        padding-bottom: 1rem;
    }
}

.content-section {
    width: 70dvw;
    color: $light-gray;

    .about {
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        div {
            width: 40dvw;
            margin: 1rem;
            line-height: 2rem;
        }
    }

    .experience {
        app-experience {
            display: flex;
            justify-content: center;
        }
    }

}