@import '../../styles.scss';

.container {
    display: flex;
    flex-direction: row;

    .nav-section {
        width: 20dvw;
        height: 100dvh;
        flex-direction: column;
        background-color: $primary-dark-blue;
        text-align: center;
        display: flex;
        justify-content: start;
        align-items: center;
        color: $near-white;
        position: sticky;
        position: -webkit-sticky;
        top: 0;

        .name {
            margin-top: 1rem;
            font-size: 2rem;
        }

        .title {
            font-size: 1.5rem;
        }

        .img-wrapper {
            display: flex;
            justify-content: center;
            margin: 1rem;

            img {
                width: 10dvw;
                border-radius: 50%;
            }
        }

    }

    .divider {
        background: $primary-dark;
        background: linear-gradient(90deg, $primary-dark-blue 0%, $primary-dark 100%);
        width: 7dvw;
        height: 100dvh;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }
}

.content-section {
    width: 73dvw;
    color: $light-gray;

    .about {
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        div {
            width: 40dvw;
            margin: 1rem;
            line-height: 2rem;
        }
    }

    .experience {
        app-experience {
            display: flex;
            justify-content: flex-end;
        }
    }

}