.card-container {
    padding: 1rem;

    .title {
        font-size: 1.5rem;
        font-weight: bold;
        color: $white;
    }

    .secondary-title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .description {
        color: $lighter-gray;
        line-height: 1.5rem;
    }

    .technologies {
        padding-inline-start: 0;

        .technology {
            display: inline-block;
            padding: 0.5rem;
            margin: 0.25rem 0.5rem 0.25rem 0;
            border-radius: 2rem;
            background-color: $green;
            color: $primary-dark;
            font-size: .75rem;
            color: $light-green;
        }
    }

    .links a img {
        width: 20px;
        padding: .25rem;
    }

}