$primary-dark: rgb(14, 14, 14);
$secondary-dark: rgb(30, 30, 30);
$primary-dark-blue: rgb(0, 100, 130);
$white: rgb(255, 255, 255);
$near-white: rgb(230, 230, 230);
$gray: rgb(153, 153, 153);
$light-gray: rgba(223, 223, 223, 0.7);
$lighter-gray: rgba(240, 240, 240);
$green: rgba(45, 212, 191, .1);
$light-green: rgb(94 234 212);

body {
    margin: 0;
}